/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
}
/* Styl dla nagłówka strony */
h1 {
    color: white;
    font-family: 'Arial', sans-serif;
}